.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:123px;
    background:linear-gradient(90deg,purple,blue);
}
p{
    font-size:34px;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top:0%;
}
ul li{
    color:white;
    font-size:32px;
    font-weight: 600;
}
nav ul li{
    display: inline;
    margin: 32px;
}
.about{
    display: flex;
    background-position: center;
    background-image:url("https://images.unsplash.com/photo-1511379938547-c1f69419868d");
    height:997px;
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: center;
    align-items: center;
    animation: music 1.4s linear infinite alternate;
}
@keyframes music{
    100%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 100% 50%;
    }
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
}
.search input{
    height:43px;
    font-size:32px;
    border-radius: 12px;
}
.find{
    background:linear-gradient(purple,blue);
    color:white;
    border:none;
    width:127px;
}
.search .search-2{
    width:532px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:34px;
}
.gentre{
    height:215px;
    width:367px;
    box-shadow: 3px 2px 9px inset black;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size:42px;
    font-weight: 600;
}
.gentre:hover{
    transform:translateY(-50px);
    transition: all 1.4s ease-in-out;
}
.align-rec{
    display:flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-bottom:43px;
}
.section-2{
    display: flex;
    justify-content: space-around;
    align-items: left;
    gap:34px;
}
.track{
    padding-left:45px;
    
}
audio{
    width:679px;
}
.offers{
    display:flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-bottom:43px;
}
.track-1{
    padding-left:45px;
    display: flex;
    gap:35px;
    justify-content: center;
    flex-direction: column;
}
.image{
    background-image:url("https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/fb/c1/c1/fbc1c191-a582-5b32-7479-a74d73e088d6/7300341452173.jpg/800x800cc.jpg");
    height:73px;
    background-attachment: fixed;
    background-size:cover;
}
footer{
    background:black;
    height:345px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color:black;
}